---

import Contenuto from "../../layouts/Contenuto.astro";
import Heading from "../../components/Heading.astro";

---

<Contenuto name="Catalogue">
    <Heading title="Catalogue" subtitle="Fabbrica del Vapore" background={true}>
    </Heading>
    <div class="text-container">
        <p>
            At the Fabbrica del Vapore, INTERDEPENDENCE takes the shape of an international exhibition mixing and matching the projects of the students of Politecnico di Milano (Design, Architecture, and Engineering) with those of students from almost 50 design universities from all over the world.The exhibition collects 150 projects and is animated by a palimpsest of initiatives.
        </p>
    </div>
</Contenuto>

<style>
    .text-container {
        max-width: 900px;
    }
</style>