


@font-face {
    font-family: "Milligram";
    src: url('../assets/fonts/Milligram-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Milligram";
    src: url('../assets/fonts/Milligram-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Milligram Text";
    src: url('../assets/fonts/Milligram-Text-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Milligram Text";
    src: url('../assets/fonts/Milligram-Text-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Milligram Macro";
    src: url('../assets/fonts/Milligram-Macro-Medium.ttf');
    font-weight: medium;
}

@font-face {
    font-family: "Milligram Macro";
    src: url('../assets/fonts/Milligram-Macro-Bold.ttf');
    font-weight: bold;
}


:root {
  --gradient: white;
  --textColor: black;
  /* --hover: rgb(148, 97, 97); */
  --hover: rgb(0, 0, 0);
}


* {
    box-sizing: border-box;
    z-index: 0 !important;
}


body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Milligram', sans-serif;
    cursor: none;
    background: white;
    scrollbar-width: none;
    overflow-x: hidden;
}

a {
    text-decoration:none;
    color: black;

}


.gradient-text {
    background-image: linear-gradient(to bottom, #545454, #1e1e1e);
    &.right {
        background-image: linear-gradient(to right, #545454, #1e1e1e);
    }
    &.light {
        background-image: linear-gradient(to right, #969696, #424242);
    }
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }



hr {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(70, 70, 70) ;
}

h1 {
  font-family: 'Milligram', sans-serif;
  font-size: 3rem;
  line-height: normal;
  font-weight: bold;
  color: var(--textColor);
  margin-bottom: 1rem;
  text-align: left;

}

h2 {
  font-family: 'Milligram', sans-serif;
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  color: var(--textColor);
  padding: 0.5rem 0 1rem 0;
  text-align: left;
  margin: 0;
  margin-bottom: 1em;
}

h3{
  padding: 1rem 0 0.5rem 0;
  font-family: 'Milligram', sans-serif;
  font-size: 1.5rem;
  line-height: normal;
  font-weight: bold;
  color: var(--textColor);
  margin-bottom: 1rem;
  text-align: left;
  margin: 0;
}


h4 {
  margin: 0;
  font-family: 'Milligram', sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-weight: bold;
  color: var(--textColor);
  margin-bottom: 1rem;
  text-align: left;
}


/* Font testo due versioni */

h6 {
  padding: 1rem 0 1rem 0;
  font-family: 'Milligram-text', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  color: var(--textColor);
  text-align: left;
  margin: 0;
}

p {
    font-family: 'Milligram Text', sans-serif;
    font-size: clamp(0.8rem, 5vw, 1.4rem);
    line-height: 1.4;
    color: var(--textColor);
    margin: 0;
    text-align: left;
    margin-bottom: 0.5em;
}

p.txt-large {
    margin-bottom: 3em;
}

p.txt-small {
    font-size: 1.2em;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 20px; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* 
[class^="col-"] {
    /* padding: 20px; }*/


.col-12 {
    width: 100%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.6%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.3%; /* SISTEMARE */
}

.col-3 {
    width: 25%;
}

/* mappa (va solo qui) */
.see-more {
    font-weight: normal;
    img {
        transform: translateY(5px);
    }
  }

  .title-box h3 {
    font-size: 1.3em;
  }
  


/* Mobile */
@media (max-width: 768px) {
    [class^="col-"] {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    [class^="col-"] {
        width: 100%;
    }
}

/* Desktop */
@media (min-width: 1025px) {

}

