---
export interface Props {
  title: string;
  subtitle?: string;
  description?: string;
  background?: boolean;
  backgroundMobile?: boolean;
  mobile?:boolean;
}

const { title, subtitle, description, background=false, mobile=true, backgroundMobile=false } = Astro.props as Props;
---

{
background && mobile && <>
<div class={`animated-background ${mobile ? '' : 'nascondi'}`}>
    <div id="p5-canvas"></div>
    <div class="header-gradient"></div>
</div>
</>
}

<div class={`header-container ${mobile ? '' : 'nascondi'}`}>
    <h2 class="title">{title}</h2>
    {
    subtitle && <>
        <h3 class="subtitle">{subtitle}</h3>
    </>
    }
</div>

<slot/>



<style>
    .animated-background,
    .header-gradient {
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 35vh;
        z-index: -2 !important;
    }

    .header-gradient {
        z-index: 0 !important;
        background: linear-gradient(to top, white 70%,  rgba(255, 255, 255, 0.5) 100%);
        height: 100vh;

    }



    #p5-canvas {
        width: 100%;
        height: 100%;
        
    }

    #p5-canvas * {
        opacity: 0.1;
    }

    .header-container {
        position: fixed;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .title, .subtitle {
        color: black;
    }
    .title {
        margin: 0;
        padding-bottom: 0.2em;
    }
    h3.subtitle {
        font-weight: normal;
        padding-top: 0;
    }

    @media (max-width: 768px) {
    .header-container {
        position:fixed;
        top:4vh;
    }

    .nascondi {
        display: none;
    }

        .animated-background {
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }


}

</style>



{background && <>
<script>
    import p5 from 'p5'
    import { mySketch } from '../scripts/sketch.js'
    
    console.log('Hello from JavaScript!');
    new p5(mySketch(window.innerWidth,0.35*window.innerHeight), document.getElementById('p5-canvas'))
</script>

</>}
