---


---



<div class="header_desktop">
  <div class="sidebar left-sidebar">

    <div class="button left-button" id="button-1" style="text-align: right;">
      <a href="/designxdesigners">Design x Designers</a>
    </div>
    <div class="button" id="button-2" style="text-align: center;">
      <a href="/salonesatellite">Salone Satellite</a>
    </div>
    <div class="button" id="button-3" style="text-align: left;">
      <a href="/fabbricadelvapore">Fabbrica del Vapore</a>
    </div>
    <!-- <div class="sidebar-area">
      <div class="button-area" target-id="button-1" ><a href="/salonesatellite"></a></div>
      <div class="button-area" target-id="button-2" ><a href="/designxdesigners"></a></div>
      <div class="button-area" target-id="button-3" ><a href="/fabbricadelvapore"></a></div>
    </div> -->
  </div>
  <div class="sidebar right-sidebar">
    <div class="button right-button">
      <a href="index.html">interdependence</a>
    </div>
  </div>
</div>



<!-- HEADER MOBILE -->
<header class="header_mobile">
  <div class="header__content">
    <a class="header__logo" href="index.html">interdependence</a>
    <ul class="header__menu">
      <li><a href="#">Design x Designers</a></li>
      <li><a href="#">Salone Satellite</a></li>
      <li><a href="#">Fabbrica del Vapore</a></li>
    </ul>
    <div class="icon-hamburger">
      <span></span>
      <span></span>
    </div>
  </div>
</header>



<!-- ---------- CSS STYLE ---------- -->
<style>



  .sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    z-index: 9999;
    mix-blend-mode: difference;
    cursor: none;
    padding: 2vh 1vh;
  }

  .left-sidebar {
    left: 0;
    align-items: flex-start;
    font-size: 1.3em;
   /* gap: 2vh; */
  }
  .right-sidebar {
    right: 0;
    align-items: flex-end;
    font-size: 2em;
  }

  .button {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    padding: 0 0 0 0;
    font-weight: bold;
    flex: 0;
    transition: all 0.5s ease;
    width: 100%;
  }

  .right-button {
    width: auto;
  }


  /* .sidebar:hover div {
    text-align: left;
    flex-grow: 1;
    transition: all 0.6s ease;
  } */

  .sidebar-area {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  #button-1 {
    text-align: right;
  }
  
  /* .button.active {
    flex-grow: 3;
    transition: all 1.6s ease;
  }
*/
  .button:hover a  { 
    text-decoration: none;
    color: white;
  }

  #button-1,
  #button-2 {
    padding-top: 1vh;
  }

  #button-2,
  #button-3 {
    padding-bottom: 1vh;
  }



  #button-1:hover,
  #button-2:hover {
    padding-top: 7vh;
  }

  #button-2:hover,
  #button-3:hover {
    padding-bottom: 7vh;
  }

  /* .sidebar div:hover {
    flex-grow: 18;
    transition: all 1.6s ease;
  } */

  .button a {
    margin: 0;
    color: #3e3e3e;
    font-family: "Milligram";
    font-weight: bold;
    transition: color 0.6s ease;
    text-decoration: none;
    white-space: nowrap;

  }

  /* diventa superfluo*/
  .button:hover a {
  
  }

  
  .right-button a {
    font-family: "Milligram Macro";
    font-weight: bold;
    font-size: 2.5rem;
  }

  .button-area a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .header_mobile {
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 15px;
    mix-blend-mode: difference;
  }
  .header__content {
    max-width: 1200px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    display: flex;
    align-items: center;
    color: var(--gradient);
    font-family: "Milligram Macro";
    font-weight: bold;
    text-decoration: none;
  }

  .header__menu {
    padding: 0;
    margin: 0;
  }
  .header__menu li {
    display: inline-block;
  }
  .header__menu li a {
    color: var(--menu-color);
    opacity: 0.8;
    display: block;
    padding: 16px;
    font-size: 15px;
  }

  @media (max-width: 768px) {

    .header_desktop {
      display: none;
    }
    .header__menu {
      position: absolute;
      top: 70px;
      left: 0;
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 100vh;
      height: 0vh;
      overflow: hidden;
      transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .header__menu li {
      width: 100%;
    }
    :global(.menu-open) .header__menu {
      height: 100vh;
      z-index: 99999;
    }
    .header__menu li a {
      color: var(--gradient);
      font-size: 1.5em;
      font-family: "Milligram";
      font-weight: bold;
    }

    .icon-hamburger {
      height: 50px;
      width: 40px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .icon-hamburger span {
      height: 4px;
      width: 40px;
      background: rgb(255, 255, 255);
      position: relative;
      display: block;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    :global(.menu-open) .icon-hamburger span:nth-child(1) {
      transform: rotate(45deg) translateY(12px);
    }
    :global(.menu-open) .icon-hamburger span:nth-child(2) {
      transform: rotate(-45deg) translateY(-12px);
    }
  }


/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .header_mobile {
      display: none;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .header_mobile {
      display: none;
    }
}


</style>





<!-- ANIMAZIONE HEADER DESKTOP -->
<script>
      // document.addEventListener("astro:page-load", () => {

  const areaButtonsS = document.querySelectorAll('.button-area');
    const areaButtons = document.querySelectorAll('.button-area').forEach((div) => {
      const targetId = div.getAttribute("target-id");
      if (targetId) {
        const targetDiv = document.getElementById(targetId);
    
        if (targetDiv) {
            div.addEventListener("mouseenter", () => targetDiv.classList.add("active"));
            div.addEventListener("mouseleave", () => targetDiv.classList.remove("active"));
        }
      }
  
  })
  console.log(areaButtonsS); 
// });
  </script>
  
  <!-- ---------- MENU HEADER MOBILE ---------- -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const hamburger = document.querySelector('.icon-hamburger');
      const body = document.body;
      
      if (hamburger) {
        hamburger.addEventListener("click", function() {
          body.classList.toggle('menu-open');
          // Add logging to check if the click is registered
          console.log("Menu state:", body.classList.contains('menu-open'));
        });
      }
    });
  </script>






