---


---



<div class="header_desktop">
  <div class="sidebar left-sidebar">

    <div class="button left-button" id="button-1" style="text-align: right;">
      <a href="salonesatellite.html">Salone Satellite</a>
    </div>
    <div class="button" id="button-2" style="text-align: center;">
      <a href="designxdesigners.html">Design x Designers</a>
    </div>
    <div class="button" id="button-3" style="text-align: left;">
      <a href="fabbricadelvapore.html">Fabbrica del Vapore</a>
    </div>
    <div class="sidebar-area">
      <div class="button-area" target-id="button-1" ></div>
      <div class="button-area" target-id="button-2" ></div>
      <div class="button-area" target-id="button-3" ></div>
    </div>
  </div>
  <div class="sidebar right-sidebar">
    <div class="button right-button">
      <a href="index.html">interdependence</a>
    </div>
  </div>
</div>



<!-- HEADER MOBILE -->
<header class="header_mobile">
  <div class="header__content">
    <a class="header__logo" href="index.html">interdependence</a>
    <ul class="header__menu">
      <li><a href="#">Salone Satellite</a></li>
      <li><a href="#">Design x Designers</a></li>
      <li><a href="#">Fabbrica del Vapore</a></li>
    </ul>
    <div class="icon-hamburger">
      <span></span>
      <span></span>
    </div>
  </div>
</header>



<!-- ---------- CSS STYLE ---------- -->
<style>
  .sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
  }

  .left-sidebar {
    left: 0;
    align-items: flex-start;
    font-size: 1.3em;
  }
  .right-sidebar {
    right: 0;
    align-items: flex-end;
    font-size: 2em;
  }

  .button {
    writing-mode: sideways-lr;
    padding: 1vh;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    flex: 0;
    transition: all 1s ease;
  }

  .right-button {
    width: auto;
  }


  /* .sidebar:hover div {
    text-align: left;
    flex-grow: 1;
    transition: all 0.6s ease;
  } */

  .sidebar-area {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .button-area {
    width: 100%;
    flex: 1;
  }
  
  .button.active {
    flex-grow: 3;
    transition: all 1.6s ease;
  }

  .button.active a  {
    color: rgb(54, 54, 54);
    text-decoration: none;
  }
  /* .sidebar div:hover {
    flex-grow: 18;
    transition: all 1.6s ease;
  } */

  .button a {
    margin: 0;
    background-image: var(--gradient);
    color: transparent;
    background-clip: text;
    font-family: "Milligram";
    font-weight: bold;
    transition: color 0.6s ease;
    mix-blend-mode: difference;
    text-decoration: none;
    white-space: nowrap;

  }

  /* diventa superfluo*/
  .button a:hover {
    color: rgb(54, 54, 54);
    text-decoration: none;
  }

  .right-button a {
    font-family: "Milligram Macro";
    font-weight: bold;
  }

  .header_mobile {
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 15px;
    mix-blend-mode: difference;
  }
  .header__content {
    max-width: 1200px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Milligram Macro";
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
  }

  .header__menu {
    padding: 0;
    margin: 0;
  }
  .header__menu li {
    display: inline-block;
  }
  .header__menu li a {
    color: var(--menu-color);
    opacity: 0.8;
    display: block;
    padding: 16px;
    font-size: 15px;
  }

  @media (max-width: 768px) {

    .header_desktop {
      display: none;
    }
    .header__menu {
      position: absolute;
      top: 70px;
      left: 0;
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 100vh;
      height: 0vh;
      overflow: hidden;
      transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .header__menu li {
      width: 100%;
    }
    :global(.menu-open) .header__menu {
      height: 100vh;
      z-index: 99999;
    }
    .header__menu li a {
      color: var(--gradient);
      font-size: 1.5em;
      font-family: "Milligram";
      font-weight: bold;
    }

    .icon-hamburger {
      height: 50px;
      width: 40px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .icon-hamburger span {
      height: 4px;
      width: 40px;
      background: rgb(255, 255, 255);
      position: relative;
      display: block;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    :global(.menu-open) .icon-hamburger span:nth-child(1) {
      transform: rotate(45deg) translateY(12px);
    }
    :global(.menu-open) .icon-hamburger span:nth-child(2) {
      transform: rotate(-45deg) translateY(-12px);
    }
  }


/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .header_mobile {
      display: none;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .header_mobile {
      display: none;
    }
}


</style>





<!-- ANIMAZIONE HEADER DESKTOP -->
<script>
  const areaButtonsS = document.querySelectorAll('.button-area');
    const areaButtons = document.querySelectorAll('.button-area').forEach((div) => {
      const targetId = div.getAttribute("target-id");
      if (targetId) {
        const targetDiv = document.getElementById(targetId);
    
        if (targetDiv) {
            div.addEventListener("mouseenter", () => targetDiv.classList.add("active"));
            div.addEventListener("mouseleave", () => targetDiv.classList.remove("active"));
        }
      }
  
  })
  console.log(areaButtonsS);
  </script>
  
  <!-- ---------- MENU HEADER MOBILE ---------- -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const hamburger = document.querySelector('.icon-hamburger');
      const body = document.body;
      
      if (hamburger) {
        hamburger.addEventListener("click", function() {
          body.classList.toggle('menu-open');
          // Add logging to check if the click is registered
          console.log("Menu state:", body.classList.contains('menu-open'));
        });
      }
    });
  </script>






