---

import {Image} from 'astro:assets';
import logoPolimi from '../assets/logos/Polimi.svg';
import logoPoliDesign from '../assets/logos/Poli.design.svg';
import logoPolimiDesign from '../assets/logos/logo_poli_uniti.svg'
import logoPoliPolidesign from '../assets/logos/logo_poli_polidesign.svg'
import logoDesignWeek from '../assets/logos/logo-design-week.svg';
import mappa from  '../assets/img/MapImage.png';
import ChasingWord from './ChasingWord.astro';




---



  <!-- <canvas id="p5-canvas"></canvas> -->
  <section id="hero">
    <div id="p5-canvas"></div>
    <!-- <div class="overlay"></div> -->
    <div class="logo-container">
      <div class="logo-left">
        <Image src={logoPoliPolidesign} alt="Politecnico di Milano e Poli.Design" id="logo-polimi" />
        <!-- <Image src={logoPoliDesign} alt="Logo di Poli.design" id="logo-polidesign" /> -->
      </div>
      <div class="logo-right">
        <Image src={logoDesignWeek} alt="Logo Milano Design Week" id="logo-mdw"/>
      </div>
    </div>
    <div class="title-container">
      <ChasingWord word="exploring" ></ChasingWord> 
    <!-- <h1 class="title">interdependence</h1> -->
    <!-- <ChasingWord word="opposites" align="right"></ChasingWord>  -->

     </div>  

     <div class="days-container">
      
      <span>6/04 – 15/04 </span>
      <span>2025</span> 
     </div>
  </section>
  <div class="gradient-lower"></div>


<script>
import p5 from 'p5'
import { mySketch } from '../scripts/sketch.js'


const canvasElement = document.getElementById('p5-canvas');
if (canvasElement) {
  new p5(mySketch(window.innerWidth, window.innerHeight*1.2), canvasElement);
}



</script>

<style>
    #hero {
    
    position: relative;
    color: white;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        mix-blend-mode: difference;
        z-index: 2; /* Above p5-canvas but below other content */
        pointer-events: none; /* Allows clicking through to elements below */
    }

    .gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(164, 18, 18, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 2;
    }


#p5-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 1;
}

#p5-canvas::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%);
  mix-blend-mode: difference;
  z-index: 2;
  pointer-events: none;
}

.title-container {
  font-size: 2em;
  text-align: left;
  mix-blend-mode: difference;

}

.chasing-word {
  width: 100%;
}
/* .gradient-lower {
  position: absolute;
  width: 100%;
  height: 20vh;
  opacity: 0.5;
  mix-blend-mode: luminosity;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
} */
/* .title {
    font-family: 'Milligram Macro';
    font-size: clamp(2rem, 12vw, 12rem);
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 1;
    color: var(--gradient);
} */

    .logo-container {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding: clamp(1rem, 2vw, 2rem) 11vw;
          mix-blend-mode: difference;
        }
        
        .logo-left {
          display: flex;
          align-items: top;
          gap: 3em;
          width: 60%;
        }
        
        .logo-right {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        
        /* Shared styles for all logos */
        .logo-left img,
        .logo-right img {
          width: clamp(6rem, 16vw, 16rem); 
          height: auto;
          object-fit: contain;
          max-width: 100%; 
        }

        .days-container {
          position: absolute;
          padding: 0 11vw;
          font-size: 3.5vw;
          mix-blend-mode: difference;
          bottom: 10vh;
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        #logo-mdw {
          filter: invert(1);
          width: clamp(2em, 8vw, 8rem); 
        }
        #logo-polimi {
          
          filter: invert(1);
          width: clamp(6rem, 30vw, 20rem); 

          /* max-width: 300px; */
        }
        #logo-polidesign {
          filter: invert(1);
          width: clamp(4rem, 13vw, 13rem); 
        }


/* Mobile */
@media (max-width: 768px) {

  #p5-canvas::after {

  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%);

}

.logo-left {
  flex-direction: row;
  align-items: start;
  gap:1em;
}

.logo-right {
  align-items: start;
}

.days-container {
  bottom: 10vh;
  padding: clamp(1rem, 2vw, 2rem);
  font-size: 2em;
}

.logo-container  {
  padding: clamp(1rem, 2vw, 2rem);
  top: 5vh;

  img {
    width: clamp(4em,16vw,16rem)
    }
}


#logo-mdw {
          filter: invert(1);
          width: clamp(4em, 16vw, 16rem); 
        }
        #logo-polimi {
          
          filter: invert(1);
          width: clamp(6rem, 48vw, 20rem); 

          /* max-width: 300px; */
        }
    
}





</style>